{% extends 'website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

    <br>

    <br>

    {% csrf_token %}

    <form method="post" novalidate style="margin-left: 5px">
        {% crispy active_games_form %}
    </form>

    <form method="post" novalidate style="margin-left: 5px">
        {% crispy join_game_form %}
    </form>

    <form method="post" novalidate style="margin-left: 5px">
        {% crispy new_game_form %}
    </form>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Enable all submit buttons initially
        document.querySelectorAll("button[type='submit']").forEach(function(button) {
            button.disabled = false;
        });

        // Add event listener to all forms
        document.querySelectorAll("form").forEach(function(form) {
            form.addEventListener('submit', function(event) {
                // Disable all submit buttons to prevent multiple submissions
                document.querySelectorAll("button[type='submit']").forEach(function(button) {
                    button.disabled = true;
                });
            });
        });
    });
    </script>

{% endblock %}
