{% extends 'website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

  <br>

  <br>

  {% csrf_token %}

  {% if lists_game_obj.state == "pending" %}
    <h3> Waiting for {{ lists_game_obj.host }} to configure {{ lists_game_obj.name }} </h3>
  {% endif %}

  {% if lists_game_obj.state == "entering" %}
    <h3> Waiting for {% for player in lists_game_obj.players_entering_words.all %} {{player.username}}, {% endfor %} to enter words for {{ lists_game_obj.name }} </h3>
    {% if request.user in lists_game_obj.players_entering_words.all %}
      <form method="post" novalidate style="margin-left: 5px">
            {% crispy entering_words_form %}
      </form>
    {% endif %}
  {% endif %}

  {% if lists_game_obj.state == "started" and lists_game_obj.current_player != request.user %}
    <h5>
      Round: {{ lists_game_obj.current_round }} of {{ lists_game_obj.num_rounds }} | Words Remaining: {{ word_count }} |
      {% for team in teams %}
        {{ team.name }}: {{ team.points }} points |
      {% endfor %}
    </h5>
    <h3> It's {{ lists_game_obj.current_player }}'s turn </h3>
  {% endif %}

  {% if lists_game_obj.state == "started" and lists_game_obj.current_player == request.user %}
    <h5>
      Round: {{ lists_game_obj.current_round }} of {{ lists_game_obj.num_rounds }} | Words Remaining: {{ word_count }} |
      {% for team in teams %}
        {{ team.name }}: {{ team.points }} points |
      {% endfor %}
    </h5>
    <h3> It's your turn! </h3>
    <form method="post" novalidate style="margin-left: 5px">
      {% crispy guessing_words_form %}
    </form>
  {% endif %}

  {% if lists_game_obj.state == "done" %}
    <h1> GAME COMPLETE </h1>
    {% for team in teams %}
      <h2> {{ team.name }}: {{ team.points }} points </h2>
    {% endfor %}
  {% endif %}


<script>

  var word_list = {% autoescape off %} {{ word_list }} {% endautoescape %}
  var seen_words = []
  var curr_word = ''
  var timeLeft = {{ lists_game_obj.time_remaining }}
  var words_remaining_elem = document.getElementById('words_remaning');

  function startTimer(){

    document.getElementById("button-id-start").style.display = 'none'
    document.getElementById("word").style.display = ''
    document.getElementById("button-id-next_word").style.display = ''

    var countdown_elem = document.getElementById('countdown');
    countdown_elem.innerHTML = timeLeft;
    timeLeft--;

    var timerId = setInterval(countdown, 1000);

    function countdown() {
      if (timeLeft == -1) {
        clearTimeout(timerId)
        document.getElementById("word").style.display = 'none'
        document.getElementById("button-id-next_word").style.display = 'none'
        countdown_elem.innerHTML = 'DONE'

        document.getElementById("guessed_words_title").style.display = ''
        for (var i = 0; i < seen_words.length; i++){
          document.getElementById("div_id_word_" + seen_words[i]).parentNode.style.display = ''
        }
        document.getElementById("submit-id-guessed_words").style.display = ''
      } else {
        countdown_elem.innerHTML = timeLeft
        timeLeft--
      }
    }

    var word_index = Math.floor(Math.random() * word_list.length)
    curr_word = word_list[word_index]
    word_list.splice(word_index, 1)
    seen_words.push(curr_word)
    document.getElementById("word").textContent = curr_word
    words_remaining_elem.innerHTML = word_list.length + " word(s) remaining"
  }

  function nextWord(){
    if (word_list.length > 0) {
      var word_index = Math.floor(Math.random() * word_list.length)
      curr_word = word_list[word_index]
      word_list.splice(word_index, 1)
      seen_words.push(curr_word)
      document.getElementById("word").textContent = curr_word
      words_remaining_elem.innerHTML = word_list.length + " word(s) remaining"
    }
    else {
      document.getElementById("word").textContent = ''
      document.getElementById("button-id-next_word").style.display = 'none'
      document.getElementById("id_time_remaining").value = timeLeft;
      words_remaining_elem.style.display = 'none'
      timeLeft = -1
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
        // Enable all submit buttons initially
        document.querySelectorAll("button[type='submit']").forEach(function(button) {
            button.disabled = false;
        });

        // Add event listener to all forms
        document.querySelectorAll("form").forEach(function(form) {
            form.addEventListener('submit', function(event) {
                // Disable all submit buttons to prevent multiple submissions
                document.querySelectorAll("button[type='submit']").forEach(function(button) {
                    button.disabled = true;
                });
            });
        });
    });

</script>


{% endblock %}
