[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
Django = "*"
gunicorn = "*"
psycopg2 = "*"
pytz = "*"
sqlparse= "*"
whitenoise = "*"


[requires]

python_full_version = "3.6.15"
