{% extends 'website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<br>

<form enctype="multipart/form-data" method="post" novalidate>
  {% crispy new_user_form %}
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Enable all submit buttons initially
      document.querySelectorAll("button[type='submit']").forEach(function(button) {
          button.disabled = false;
      });

      // Add event listener to all forms
      document.querySelectorAll("form").forEach(function(form) {
          form.addEventListener('submit', function(event) {
              // Disable all submit buttons to prevent multiple submissions
              document.querySelectorAll("button[type='submit']").forEach(function(button) {
                  button.disabled = true;
              });
          });
      });
  });
</script>

{% endblock %}